In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("arrhythmia.csv")
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0,0.5,1.6,21.3,32.8,1

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0,-0.1,3.9,25.4,62.8,7

In [4]:
#removed the word unnamed from the attribute names
data = data.rename(columns=lambda s: s.strip('Unnamed: '))

In [5]:
#replaced all the question mark symbols with nan
data = data.replace('?',np.NaN)

In [6]:
#finding number of null values in the dataset
data.isna().sum().values

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   8,  22,   1,
       376,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0], dtype=int64)

In [7]:
#removed 13th column as it has lot of missing values
data = data.drop(['13'], axis=1)

In [8]:
#removing rows with missing values
data = data.dropna()

In [9]:
#setting class label
target = data['279']

In [10]:
#removing class label from dataset
data = data.drop(['279'],axis=1)

In [11]:
#finding correlation with target feature
pearsoncorr = data.corrwith(other = target,method='pearson')
pearsoncorr.values

array([-1.52051377e-01, -1.87005756e-01,  9.78346372e-03, -1.11600098e-01,
        3.39867413e-01,  3.32935431e-02,  5.09709777e-02,  1.44716223e-01,
       -5.28272020e-03, -6.78047098e-04, -3.77941223e-03,  5.01633827e-02,
        1.99266756e-01, -3.69389775e-02,             nan,  5.69489016e-02,
                   nan,  1.34918692e-02, -3.37296729e-02, -1.96826542e-02,
        6.20504014e-02,  1.14489247e-01, -2.07938660e-03,  9.93606499e-03,
        2.39397701e-01, -4.69052289e-03,  7.53422408e-02,  6.42340222e-02,
        8.09748864e-02, -2.28373806e-02, -1.96826542e-02,  2.17281800e-02,
       -3.13588050e-02,  1.38383478e-02, -3.07852796e-02,  7.91657168e-02,
        1.19761201e-01,  2.78947220e-02, -3.00238209e-02,  5.40781168e-02,
       -3.13588050e-02, -8.24238735e-03, -3.13588050e-02, -8.52833431e-02,
        1.98859907e-02,  1.53457982e-02,  3.05116822e-03,  2.16796208e-01,
        2.78946299e-03,  1.33044865e-01, -3.13588050e-02,  1.82230386e-01,
       -6.29433490e-02,  3.82604909e-02, -1.96826542e-02,  1.53457982e-02,
       -3.07028631e-03,  4.83793294e-02,  2.03591699e-02,  1.05167586e-01,
        9.17317240e-02, -8.31005306e-03,             nan,  1.70240530e-01,
                   nan,  1.07571699e-01,             nan, -8.00650340e-03,
        2.99943355e-02,  1.53457982e-02,  7.67714492e-02, -6.10759499e-05,
        1.90943720e-01, -9.00078118e-03,  1.02215996e-01,  9.96631372e-02,
        3.82604909e-02,  8.75546300e-03,             nan,             nan,
       -3.13588050e-02,  6.20504014e-02,  3.43034104e-02,  1.52665243e-01,
       -9.90019730e-02,  4.02839102e-01, -2.27425868e-02,  3.49948518e-01,
        2.17281800e-02,  1.96473929e-01,  1.90838877e-02,  3.34007417e-02,
       -1.60706423e-02, -4.36527014e-02,  6.02735339e-02,  4.81321277e-02,
        1.22389743e-02,  2.85141411e-01,  1.11438098e-01,  1.21954797e-01,
        1.50662271e-03,  1.18688389e-01,  1.38520491e-01,  1.61790876e-01,
       -2.06582622e-02,  6.30406860e-03,  6.39087070e-02, -1.94147523e-02,
        1.42672300e-01,  1.39936191e-01,  1.02353139e-01,  1.48318787e-03,
       -2.03224036e-02,  5.47928018e-02,  1.48276125e-01,  1.34761374e-01,
       -3.41730132e-02, -1.60706423e-02,  3.58190001e-02,  3.42986441e-02,
        1.74582461e-01,  3.07955997e-02,  5.68538261e-02,  3.48707050e-02,
       -8.00650340e-03,  1.19338623e-01,             nan,             nan,
       -1.96025972e-02,  6.87500311e-02,  1.16757465e-01,  8.00023206e-02,
        1.03067544e-01,  5.02371260e-02,             nan,  1.28230816e-01,
                   nan,  1.07731872e-01,             nan, -3.13588050e-02,
                   nan, -2.74156377e-02,  9.03270257e-02,  4.88754998e-02,
        1.53006798e-01, -4.37941077e-02,             nan,  1.51833733e-01,
       -3.13588050e-02,  3.66964739e-03, -1.13364418e-02,             nan,
                   nan,  2.39855452e-02, -3.26600054e-02, -4.56308684e-03,
       -1.23432055e-01, -2.16927379e-01, -3.61349081e-02,             nan,
       -4.45481608e-02, -6.47753446e-02, -9.62870597e-02, -1.67928201e-01,
        3.31792003e-02, -5.04478399e-02,  2.86797939e-02, -2.03378637e-01,
        5.16589952e-04, -6.72355312e-02,  6.91484424e-03,  4.94821752e-02,
       -7.54547920e-02, -2.18318896e-02,  3.83964592e-02,  8.23167904e-03,
        1.39465123e-01, -6.93319033e-02,  1.27459034e-02,  2.24306964e-02,
        2.73068390e-02,  1.15231467e-01,  3.70389526e-02,  1.18067487e-01,
        2.35102195e-02,  7.31607707e-02,  2.02100924e-01, -1.94309511e-02,
        1.46984193e-01,  3.13588050e-02,  9.69990498e-03, -1.86325340e-03,
        1.20074768e-01,  1.06857951e-01, -1.35945989e-02, -4.06641790e-02,
       -4.74185133e-02, -1.38393424e-01, -4.60551052e-03,             nan,
       -2.25709446e-02, -9.74445895e-02, -5.76878269e-02, -1.37055956e-01,
       -1.03162158e-02, -6.68005941e-02,  8.96363835e-02, -1.34342437e-01,
        1.02033818e-02, -1.05593445e-01,  2.60755331e-02,  9.95785786e-02,
       -4.33677902e-02,  2.16354804e-02,  8.32311118e-02, -2.02727976e-02,
        1.60234198e-01, -1.90720435e-02,  2.59607476e-01,  2.42390916e-02,
       -7.54871444e-02,  4.14930069e-02,  6.17745474e-02,  1.45331613e-01,
        1.57179543e-01, -1.00707192e-01,  3.28386990e-02, -5.90061829e-02,
        2.18936073e-01, -1.06054108e-01, -7.29946124e-02,  9.65109079e-03,
       -1.26023652e-01, -7.92955564e-02,  1.99803325e-01, -3.12150576e-02,
        4.58425116e-02, -1.82499292e-01,  1.15323618e-01, -8.00079871e-02,
        2.48833375e-02,  1.27801790e-01, -1.61477365e-01, -6.47999719e-03,
        1.52729781e-01, -1.24638348e-02,  9.51804348e-02, -1.48771803e-01,
        7.28874485e-02, -5.46846168e-02,  1.26024008e-02,  1.37955980e-01,
       -8.04079194e-02,  5.82882280e-02,  4.76940980e-02, -1.58820137e-01,
        7.88497007e-02, -6.87393878e-02,  6.16870939e-02,             nan,
       -5.18787783e-03,  9.07001009e-02, -1.14929771e-02,  6.96729631e-02,
       -3.70571231e-02, -1.40862569e-01,  3.60189582e-02, -8.40402133e-02,
       -4.32587731e-02,             nan, -6.97474733e-03,  3.78423543e-03,
       -4.68022880e-03,  5.45739700e-03])

In [12]:
#finding frequency of each class
import collections
counter=collections.Counter(target)
#counter.most_common(4)
counter

Counter({8: 2,
         6: 24,
         10: 48,
         1: 237,
         14: 4,
         3: 13,
         16: 18,
         2: 36,
         4: 14,
         5: 13,
         9: 9,
         7: 2})

In [13]:
data.shape

(420, 278)

## Random Over Sampling

In [14]:
#performing over sampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(data, target)

Using TensorFlow backend.

In [15]:
X_resampled.shape

(2844, 278)

In [16]:
counternew = collections.Counter(y_resampled)
counternew

Counter({8: 237,
         6: 237,
         10: 237,
         1: 237,
         14: 237,
         3: 237,
         16: 237,
         2: 237,
         4: 237,
         5: 237,
         9: 237,
         7: 237})

In [17]:
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled , test_size=0.2, random_state=1) # 80% training and 20% test

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## PCA

In [21]:
from sklearn.decomposition import PCA

In [22]:
pca = PCA(.98)

In [23]:
pca.fit(X_train)

PCA(copy=True, iterated_power='auto', n_components=0.98, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [24]:
pca.n_components_

95

In [25]:
X_train = pca.transform(X_train)

In [26]:
X_test = pca.transform(X_test)

## Classification

In [27]:
#Naive Bayes

In [28]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB() 
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [29]:
print("Accuracy Score",accuracy_score(y_test,y_pred)*100)

Accuracy Score 77.85588752196837

In [30]:
#SVM (Linear kernel)

In [31]:
from sklearn.svm import SVC 
classifier = SVC(kernel = 'linear', random_state = 0,probability=True)
classifier.fit(X_train, y_train) 
y_pred = classifier.predict(X_test)

In [32]:
print("Accuracy Score",accuracy_score(y_test,y_pred)*100)

Accuracy Score 97.89103690685414

In [33]:
#Decision Tree

In [34]:
from sklearn.tree import DecisionTreeClassifier 
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train) 
y_pred = classifier.predict(X_test)

In [35]:
print("Accuracy Score",accuracy_score(y_test,y_pred)*100)

Accuracy Score 96.66080843585237

In [36]:
#K-Nearest Neighbours

In [37]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)
Y_pred = classifier.predict(X_test)

In [38]:
print("Accuracy score",accuracy_score(y_test,y_pred)*100)

Accuracy score 96.66080843585237

In [39]:
#Logistic Regression

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver = 'newton-cg',random_state = 0) 
classifier.fit(X_train, y_train) 
y_pred = classifier.predict(X_test)

In [41]:
print("Accuracy score",accuracy_score(y_test,y_pred)*100)

Accuracy score 96.30931458699473